fastapi
apscheduler
httpx
uvicorn[standard]
python-multipart
supabase
google-genai
python-dotenv
pydantic
psycopg2-binary
boto3
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
reportlab
qrcode[pil]
PyJWT
